
.jobGrid {
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.thing {
    padding-top: 20px;
}

.money {
    color: #188b46;
}

.somethingHoribleHasHappened {
    color: #ee2a10;
}

.cancelbox {
    padding-left: 30px;
}