.title5 {
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.profileTitle {
    
}

.jobGrid {
    justify-content: center;
    text-align: center;
}

.listCol1 {
    color: rgb(114, 103, 46);
    font-weight: bold;
    justify-content: center;
    text-align: start;
>>>>>>> 2d3b988821a7503d6f12ef6871795c29a6f9e81d
}