.title5 {
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.avatarino {
    /* margin-left: 10px; */
    width: 200px;
    height: 200px;
}

.jobGrid {
    justify-content: center;
    text-align: center;
}

.listCol1 {
    color: rgb(114, 103, 46);
    font-weight: bold;
    justify-content: center;
    text-align: start;
}