.searchBar {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

p {
    margin: 10px;
    font-size: 20px;
}

.unread {
    color: black;
}

.read {
    color: rgb(112, 112, 112);
}

.nill {
    font-weight:100;
}